/* Your app styles here */
.card-content{
    text-align: center;
    padding: 10px;
  }

.open-login{
  background-color: red;
}

#lista {
  padding-left: 0px;
  margin: 0px;
}

#imgDivulgacao {
  max-width: 100%;
  max-height: 100%;
}

#imgDivulgacaoPerfil{
  height: 100%;
  width: 100%;
}

#nome {
  width: 100%;
  height: 25%;
  min-height: 22px;
  margin-top: 5px;
}

#comentario{
  width: 100%;
  height: 75%;
}

#navbar {
  height: 50px;
  justify-content: center;
  background-color: blue;
}

#legenda {
  text-align: center;
}

#toolbar, #linhaLegenda, #linhaAcessar {
  height: 40px;
  justify-content: center;
  width: 100%;
}

#linhaComentarios {
  width: 100%;
}

#linhaComentarios .col-md {
  width: 50%;
  height: 100%;
}

  /* #inf{
    width: 55%;
    display: flex;
    flex-direction: column;
  } */

  /* #comentarios{
    border-top: 2px solid red;
    display: flex;
    flex-direction: row;
    height: 45%;
  } */

  /* #imagens{
    margin: 0 5px 0 5px;
    height: 100%;
    width: 45%;
  } */

  /* .page-content{
    text-align: center;
    display: flex;
    flex-direction: column;
  } */
